<div>
  <div>Hello World! This is the {{ title }} app.</div>
  <button (click)='getLazy1()'>lazy 1</button>
  <button (click)='getLazy2()'>lazy 2</button>
</div>
<a [routerLink]="['/n-queens']">N-Queens</a>

<router-outlet></router-outlet>
